*{
  padding:0;
  margin:0;
  box-sizing:border-box;

}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#B25068;

}

.child{
  background:white;
  border-radius:50px;
  height:40px;
  width:40px;
  transition:0.3s;
  position:relative;
}

input{
  width:0;
  left:25px;
  height:0px;
  border:none;
  opacity:0;
  position:absolute;
  transition:0.3s;
}

input:focus{
  outline:none;

}

.close{
  position:absolute;
  left:10px;
  top:10px;
  cursor:pointer;
  visibility:hidden;
}

.search{
  position:absolute;
  left:10px;
  top:12px;
  font-size:18px;
  cursor:pointer;
}

.child.active .search{
  opacity:0;
}
.child.active .close{
  visibility:visible;
  font-size:20px;
  top:10px;
}

.child.active {
  width:250px;
  transition:0.3s;
}

.child.active input{
  width:190px;
  height:38px;
  left:35px;
  opacity:10;
  transition:0.3s;
  font-size:20px;
}
