*{
	font-family: 'Protest Riot', sans-serif;
}
.parent1{
	position: relative;
}

html {
  scroll-behavior: smooth;
}


.chi1{
	border:1px solid black;
	height:100vh;
	background:linear-gradient(90deg,rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url("./img/wta.jpg");
	background-attachment:fixed;
	background-size:cover;
	filter:blur(7px);

}
.chi2{
	top:0;
	position:absolute;
	height:100vh;
	width:100%;
	display:flex;
	justify-content: center;
	align-items:center;
}

.chi3{

	height:100vh;
	width:300px;
	background-color:#289672;
	position:fixed;
	transition:0.5s;
	top:0;
	left:-700px;

}

.chi3 .hello_world{
	margin:50px 30px;
	text-align:center;

}
.chi3 .hello_world h1{
	font-size:3em;
}
.chi3 .nav_links a{
	   text-decoration:none;
}

.chi3 .nav_links div{
   text-align:center;
   letter-spacing:3px;
   transition:1s;
   padding:10px;
   color:white;

   font-size:1.2em;
   margin:20px auto;
}

.chi3 .nav_links div:hover{
	background-color:white;
	width:100%;
	color:black !important;
	transition:1s;
}
.chi3.act1{
	left:0;
	transition:0.5s;
}
.chi2 .sec1{
	width:40%;
	display:flex;
	justify-content: center;
	align-items:center;
}

.sec1 div{
	text-align:center;

}

.bars{
	position:fixed;
	z-index:5;
	top:30px;
	right:50px;
	transition:0.5s;
}


.bars i{
	font-size:2em;
	background-color:#289672;
	border-radius:50%;
	padding:12px 14px;
	transition:0.5s;
	font-weight:700;
}

.bars i:hover{
	transition:0.5s;
	color:white;
	cursor:pointer;
	background-color:black;
}
.sec1 div h1{
	font-size:3em;
	color:#289672;
}
.sec1 div h2{
	font-size:2.3em;
}

.chi2 .sec2{
	width:60%;
	display:flex;
	justify-content: center;
	align-items:center;
}

.sec2 div img{
	width:500px;
	height:650px;
}
.sec1_1{
	display:none;
}

@media(max-width:878px){
	.sec1{
		display:none !important;
	}

	.sec2{
		position:relative;
	}


	.sec1_1{
	display:block;
	text-align:center;
    position:absolute;
    bottom:50px;
    width:100%;
    background-color:black;
    border-radius:20px;
    padding:30px;
    }

    .sec1_1 div{
	text-align:center;

}
.sec1_1 div h1{
	font-size:3em;
	color:#289672;
}
.sec1_1 div h2{
	font-size:2.3em;
	color:white;
  }
}

@media(max-width:576px){

	.sec2 div img{
	width:350px;
	height:450px;
}
.sec1_1 div h1{
	font-size:2em;
}
.sec1_1 div h2{
	font-size:1.3em;
  }
    .sec1_1 div{
    	width:100% !important;
    }

	.sec1_1{
		bottom:0px;
		width:350px;
		padding:auto 100px;
	}
	.chi3{
		width:100%;
	}
	.bars.act2{
	  right:10px;
	  top:10px;
	  transition:0.5s;
    }
}
@media(max-width:355px){
		.sec2 div img{
	width:300px;
	height:400px;
}
.sec1_1{
	width:300px;
}
}
@media(max-width:325px){
	.bars i{
	font-size:1.6em;
	border-radius:50%;
	padding:10px 12px;

    }
    .bars{
    	right:10px;
   
    }
}
/*over*/

.parent2{

	padding:40px;
}

.parent2 .intro_head1{
	text-align:center;
	margin:60px auto;
	
}
.parent2 .intro_head1 p{
	font-size:1.3em;
	line-height:50px;
	font-weight:100;
}

.parent2 .intro_head1 h1{
	text-decoration:underline;
}

.parent2 .intro_head1 span{
	color:#289672;
}

@media(max-width:576px){
	.parent2 .intro_head1 p{
		font-size:1.1em;
		line-height:40px;
	}
}

@media(max-width:420px){
	.parent2 .intro_head1 p{
		font-size:1em;
		line-height:30px;
	}
	.parent2 .intro_head1{
		margin:30px auto;
	}
}

/*over*/

.parent3{
	background-color:rgba(40, 150, 114, 0.7);
	padding:50px;

}
.intro_head2{
	text-align:center;
	padding:30px;

}

.skill_chi4{
	display:none;
}
.intro_head2 h1{
	text-decoration:underline;
}
.skill_chi2{
		display:none;
	}

.skill_sec img{
	width:80px;
	height:50px;
		margin:auto 30px;
}
.skill_sec i{
	font-size:3.5em;
	color:white;
	margin:auto 30px;
}

.skill_sec div{

	margin:50px auto;
	width:100%;
	text-align:center;
}

@media(max-width:661px){
	.skill_sec i{
		font-size:3em;
		margin:auto 20px;
	}
}

@media(max-width:526px){
	.skill_sec i{
		font-size:2.5em;
		margin:auto 10px;

	}

}


@media(max-width:392px){
	.skill_chi1{
		display:none;
	}
	.skill_chi2{
		display:block;
	}
	.skill_chi3{
		display:none;
	}
	.skill_chi4{
		display:block;
	}
}


/*over*/
.parent4{
	padding:50px;
}

.cont_head{
	width:50%;
	margin:40px auto;
	text-align:center;

}
.cont_head h1{
	text-decoration:underline;
}

.project_main{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	gap:30px;
	align-items:center;
	margin:150px auto;
}

.project_sec i{
	font-size:2.5em;
	margin:5px auto;
}

.project_sec {
	text-align:center;
	border-radius:10px;
	transition:1s;
	border:4px solid black;
	padding:30px 60px;

}
.project_header h1{
	text-align:center;
	text-decoration:underline;
}
.project_main a{
	color:black;
	transition:1s;
	text-decoration:none;
}

.project_main a:hover{
	transition:1s;


}

.project_sec:hover i,.project_sec:hover h3{
	color:white;
}
.project_sec:hover{
	transition:1s;
	background-color:rgba(40, 150, 114, 1);
	border-color:white;
}

@media(max-width:450px){
	.project_main{
		margin:70px auto;
	}
}

/*over*/
.parent5{
	background-color:rgba(40, 150, 114, 0.5);
	padding:50px;
}

.cont_main{
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-wrap:wrap;
	gap:10px;
}

.cont_chi1 h4{
	font-size:2em;
}

.cont_chi1 p{
	font-size:1.5em;
}

.cont_chi1 a{
	text-decoration:none;
	color:black;
	transition:1s;
}

.cont_chi1 a:hover{
  transition:1s;
  text-decoration:underline;
}

.cont_chi1 div{
	margin:50px auto;
	
	text-align:center;
}

.cont_chi2 iframe{
	width:500px;
	height:500px;
	border-radius:10px;
}

@media(max-width:576px){
	.cont_chi2 iframe{
	width:300px;
	height:300px;
	
  }
}

@media(max-width:325px){
	.cont_chi2 iframe{
	width:300px;
	height:300px;
	
  }
}